/* Generel Styles */
html,
body {
  font-family: "Nunito", sans-serif;
  background-color: #eceef1;
}

.left {
  float: left;
}
.right {
  float: right;
}
.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

/*Main Nav Styles*/

.main-nav a {
  text-decoration: none;
  color: #008ad2;
  font-size: 12px;
  font-weight: 400;
}
.main-nav span {
  color: #4c4c4c;
  font-size: 12px;
  font-weight: 400;
}
