/* Generel Styles */
html,
body {
  font-family: "Nunito", sans-serif;
  background-color: #eceef1;
  height: 100%;
}

button:hover,
a:hover {
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  height: 100%;
}

/*Main Nav Styles*/
.main-nav {
  padding: 10px 30px;
}

.main-nav a,
.form-footer a,
.captcha-text a {
  text-decoration: none;
  color: #008ad2;
  font-size: 12px;
  font-weight: 400;
}

.main-nav span {
  color: #4c4c4c;
  font-size: 12px;
  font-weight: 400;
}

.main-nav div > * {
  margin-left: 10px;
}

.main-nav button {
  border: 1px solid #110e0e;
  border-radius: 3px;
  outline: none;
  width: 100px;
  padding: 0 20px;
  height: 32px;
  color: #fff;
  background-color: #0077c5;
  background-image: url("../images/icon-whitelock@3x.png");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 20% 50%;
  text-align: right;
  font-size: 13.5px;
}

.main-nav-content {
  text-align: center;
}

/* Main Header Styles */
.main-logo {
  width: 10%;
  margin: 35px auto 0 auto;
  padding: 20px;
}

.main-logo img {
  width: 118px;
}

/*Widget Styles*/
.widgets {
  margin: 0 auto;
  width: 35%;
  position: relative;
  bottom: 15px;
  left: 52px;
}

.widgets ul li {
  float: left;
  padding: 5px;
  margin-left: -5px;
}

.widgets ul li:first-child {
  position: relative;
  bottom: 4px;
}

/* Form Styles */

.form-wrapper {
  width: 318px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  top: 40px;
  padding: 30px;
  border: 1px solid #afabab;
  border-radius: 3px;
}

.form-header {
  width: 318px;
  margin: 0 auto;
  text-align: center;
  color: #4c4c4c;
  padding-bottom: 20px;
  position: relative;
  bottom: 25px;
}

.form-header h2 {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  line-height: 1.1;
}

.form-header p {
  font-size: 14px;
  padding-top: 20px;
}

.form-header p a {
  text-decoration: none;
  color: #008ad2;
}

.form-signup-field {
  margin-top: -18px;
  color: #404040;
}

.form-signup-input,
.form-signup-label {
  display: block;
}

.form-signup-input {
  padding: 0 6px 0 8px;
  margin-bottom: 30px;
  width: 304px;
  height: 32px;
  border-radius: 2px;
  border: 1px solid #a0a8aa;
}

.form-signup-label {
  padding-bottom: 6px;
  font-size: 15px;
  margin-bottom: 4px;
}

.small-text {
  position: relative;
  bottom: 27px;
  font-size: 0.65em;
}

.form-signup-btn {
  width: 100%;
  padding: 10px;
  background-color: #0077c5;
  background-image: url(../images/icon-whitelock@3x.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 29% 45%;
  border: #0077c5;
  border-radius: 3px;
  height: 44px;
  margin-bottom: 35px;
  font-size: 14.33px;
  color: #fff;
}

/* Form footer styles */

.form-footer {
  font-size: 14px;
  line-height: 21px;
  color: #bbb;
}

.form-footer-text {
  display: inline-block;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
}

.form-footer a {
  font-size: 14px;
}

/* Captcha area styles */

.captcha {
  background-color: #eceef1;
  font-size: 10px;
  padding: 20px 35px;
  margin: 30px -30px -30px -30px;
}
.captcha-text a {
  font-size: 10px;
}
